.page-container {
  padding-top: 5rem;
  display: flex;
  flex-direction: row;
  align-items: center; /* Centers items vertically */
  justify-content: center;
  }
  .page-container a {
    color: inherit; /* Inherit text color from parent */
    text-decoration: none; /* Remove underline */
    cursor: pointer;
    transition: color 0.4s;
  }
  .page-container a:hover {
    color: rgb(45, 219, 1);
  }
  

.intro-section{
  padding-top: 1rem;
  text-align: left;
  width: 40%;
  h1{font-size: 4rem;
  }
  h2{
    margin-top:1rem;
    font-size: 2rem;
  }
  p{
    margin-top:1rem;
  }
  .page-description{
    padding-top: 6rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between; /* Distributes space between items */
    flex-wrap: wrap;
  }
  .page-description h2{
    font-size: 20px;
  }
}

.logo-section{
  width: 40%;
  img{
    width: 100%;
  }
}

.resume-link{
  padding-top: 2rem;
}

.buttons-div{
  padding-top: 4rem;
  display: flex;
  margin: 1rem;
  gap:3rem;
}

.page-button-projects{
  display: inline-flex;
  align-items: center;
  background: none;
  color: var(--title-color);
  border: none;
  cursor: pointer;
  transition: color 0.4s;
  padding: 0.75rem 1.5rem;
}

.page-button-projects:hover{
  color: rgb(45, 219, 1);
}

.page-button-projects i {
  margin-left: 1rem; /* Adjust the spacing as needed */
}

.links-section {
  margin-top: 25%;
  display: flex;
  flex-direction: column;
  row-gap: 2rem;
}

.links-section a {
  color: #0e76a8; /* LinkedIn blue color */
  text-decoration: none;

}

.links-section a:hover {
  color: #084d6e; /* Darker shade on hover */
}

